    html {
    font-size: 14px;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
    color: #333;
    background: #fff;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}


hr {
    background-color: #a9a9a9
}



/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #a4a5a6;
}


.section-header-odd {
    text-align: right;
    background: #282929;
    padding: 1.25rem 2.5rem;
}

.section-header-even {
    text-align: right;
    background: #292a2a;
    padding: 1.25rem 2.5rem;
}

.section-content {
    padding: 3rem;
}

.section-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #a3a3a3;
}


.section-sub,
.project-language {
    font-size: 1rem;
    color: #909090;
    margin-top: -0.5rem;
}

.section-body-odd {
    background: #2a2b2b;
}

.section-body-even {
    background: #2b2c2c;
}

.content {
    color: #979899;
    padding-top: 1.25rem;
    margin-right: 2rem;
    font-size: 1rem;
    align-content: justify;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.contact-content {
    color: #979899;
    padding-top: 1.25rem;
    margin-right: 2rem;
    font-size: 1.1rem;
    align-content: justify;
}


.contact-info {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #979899;
}

.skill-number {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    color: #f39c12;
    margin-right: 1.25rem;
}

.skill-item {
    font-size: 0.9rem;
    text-align: justify;
    margin-right: 1rem;
}

.skill-heading,
.course-heading,
.project-title {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #979899;
    text-transform: uppercase;
}

.skill-content {
    padding-bottom: : 2rem;
}

.skill-percent,
.contact-heading,
.other-heading {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #979899;
    text-transform: uppercase;
}

.skill-percent {
    font-weight: 500;
    opacity: 0.5;
}

.contact-heading {}

.timeline {
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 1rem;
    padding-left: 25px;
    position: relative;
}

.timeline-item {
    position: relative;
    margin-bottom: 3rem;
}

.timeline-point {
    height: 12px;
    width: 12px;
    position: absolute;
    left: -32px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #2d2e2e;
}

.timeline-end {
    height: 1px;
    width: 16px;
    position: absolute;
    left: -9px;
    bottom: 0;
    border-width: 1px;
    border-style: solid;
}

.timeline-text {
    font-size: 0.9rem;
}

.timeframe,
.heading,
.title,
.location {
    margin-bottom: .4rem;
    text-transform: uppercase;
}


.timeframe,
.title,
.location {
    font-weight: 500;
}

.timeframe,
.location {
    opacity: .75;
    font-size: 0.8rem;
}

.title {
    font-size: 1rem;
}

.line-color {
    background: #f39c12;
    opacity: 0.75;
}

.timeline-content {
    color: #979899;
    font-size: 1.1rem;
    align-content: justify;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.project-item {
    padding-top: 0.8rem;
    padding-bottom: 0.5rem;
}

.project-title {
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #a8a9aa;
    text-decoration: none;
}

.project-language {
    font-weight: 250;
    font-style: italic;
    margin-top: -0.25rem;
    margin-bottom: -1.25rem;
    opacity: 0.8;
}

.deco-line {
    height: 5px;
    width: 40%;
    margin-top: 0.55rem;
    margin-bottom: 0.5rem;
    margin-right: 60%;
    text-align: left;
}

.project-line {
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.course-heading {
    color: #f39c12;
    opacity: 0.9;
}

.course-item {
    padding-top: 1.25rem;
}

.course-list {
    color: #95a5a6;
}

.course-list ul {
    list-style: none;
    -webkit-padding-start: 0;
}

.course-list li {
    display: inline;
}


#mainNav {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #202020;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    padding: 11px;
    color: white;
    border: 1px solid white;
}

#mainNav .navbar-brand {
    font-weight: 700;
}

#mainNav a {
    color: #c0c0c0;
}

#mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 70%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
    #mainNav.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #1a1a1a;
    }
    #mainNav .nav-link.active {
        color: #fefefe;
    }
}



.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: #202020;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.masthead .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.masthead .intro-body .brand-heading {
    font-size: 50px;
}
.masthead .intro-body .intro-text {
    font-size: 18px;
}
@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0;
    }
    .masthead .intro-body .brand-heading {
        font-size: 100px;
    }
    .masthead .intro-body .intro-text {
        font-size: 22px;
    }
}

.footer{
    background: #101010;
    width: 100%;
    color: #979899;
    padding: 0.75rem;
    text-align: center;
}